<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      Pokemons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid  [fixed]="true" id="pokeGrid">

    <ion-row *ngFor="let poke of pokemons; let i = index" style="max-width: 300px;">
      <ion-col col-6 button  [routerLink]="poke.pokeIndex">
        <ion-card id="pokeCard">

      <img class="card__bg" src="../../assets/pokeball-background.png" alt="pokeball-card" style="margin-bottom: -4.5rem;" >
          <img  src={{poke.image}}  style="z-index: 5;"/>
          <ion-card-header>
            <ion-card-title class="item-text-center">
              <h2 [innerText]="poke.name"></h2>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>


    </ion-row>

  </ion-grid>


  <ion-infinite-scroll (ionInfinite)="getPokemons(true, $event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais Pokemons...">

  </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
